<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Password</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        p {
            font-size: 16px;
            line-height: 1.6;
        }

        .password {
            font-size: 24px;
            font-weight: bold;
            padding: 10px 0;
            text-align: center;
            border: 2px dashed #007bff;
            border-radius: 6px;
            background-color: #f9f9f9;
            margin-bottom: 20px;
        }

        .note {
            font-size: 14px;
            color: #666;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <div class="container">
        <p>Dear <%= devoteeName %>,</p>
        <p>OTP has been generated for you</p>
        <div class="password">
            <%= otp %>
        </div>
        <p class="note">Please use this otp to login into the system.</p>
       
    </div>
</body>
</html>