@import "tailwindcss/base";
@import "tailwindcss/utilities";
@import "tailwindcss/components";

html,
body,
input,
textarea {
  font-family: "Poppins" !important;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Noto Sans", sans-serif !important;
  background-color: #f9fafb !important;
}

.devotee-tabs.mantine-focus-auto {
  color: brown !important;
  border-color: brown !important;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1f293729 !important;
  border-radius: 1rem;
}
